/* Reset */
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#ServicesFunnel{
    
    --color-funnel-part-4: #207de9;
    --color-funnel-part-4-dark: #0056b3;

    --color-funnel-part-3: #28a745;
    --color-funnel-part-3-dark: #1e7e34;

    --color-funnel-part-2: #ffc107;
    --color-funnel-part-2-dark: #c69500;

    --color-funnel-part-1: #ef7d21;
    --color-funnel-part-1-dark: #c75a02;

    --color-text: #222;
    --color-dark: #0B1720;

    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    margin-top: 2rem;
    padding: 0;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    overflow-x: hidden;
    box-sizing: border-box;
}

.container_ssf{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
}

.ssf_header{
    width: 100%;
    box-sizing: border-box;
}

.container_ssf .ssf_title{
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: -1.296px;
    margin-top: 0;
    margin-bottom: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
}

.container_ssf .ssf_title > span {
    color: var(--color-funnel-part-4);
}

.container_ssf .ssf_description{
    width: 100%;
    margin: 0;
    margin-bottom: 56px;
    max-width: 1200px;
    margin-inline: auto;
}

.container_ssf .ssf_description p{
    width: 100%;
    margin: 0;
    letter-spacing: -.005em;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    color: var(--color-dark);
}

.ssf_group_graphic{
    width: 110px;
    position: absolute;
    right: 0;
    transform: scaleX(-1);
}

.ssf_group{
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.ssf_group.group-1{
    border-bottom: 2px solid var(--color-funnel-part-4);
}

.ssf_group.group-2{
    border-bottom: 2px solid var(--color-funnel-part-3);
}

.ssf_group.group-3{
    border-bottom: 2px solid var(--color-funnel-part-2);
}

.ssf_group.group-4{
    border-bottom: 2px solid var(--color-funnel-part-1);
}

.ssf_group_subheader{
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -.864px;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--color-text);
}

.ssf_group_item{
    padding-top: 8px;
    padding-bottom: 8px;
    align-self: flex-start;
    box-sizing: border-box;
}

.ssf_link{
    color: var(--color-text); 
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -.081px;
    text-decoration: none;
    background: url(/assets/bsf-arrow.svg) no-repeat right center;
    box-sizing: border-box;
    word-break: break-word;
    text-underline-position: under;
    padding-right: 28px;
}

.ssf_link:hover{
    color: var(--color-funnel-part-4);
}

.funnel-part-1{
    fill: var(--color-funnel-part-1);
}
.funnel-part-1-shadow{
    fill: var(--color-funnel-part-1-dark);
}

.funnel-part-2{
    fill: var(--color-funnel-part-2);
}
.funnel-part-2-shadow{
    fill: var(--color-funnel-part-2-dark);
}

.funnel-part-3{
    fill: var(--color-funnel-part-3);
}
.funnel-part-3-shadow{
    fill: var(--color-funnel-part-3-dark);
}

.funnel-part-4{
    fill: var(--color-funnel-part-4);
}
.funnel-part-4-shadow{
    fill: var(--color-funnel-part-4-dark);
}

@media (min-width: 576px){
    .container_ssf{
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 768px ) {

    .container_ssf{
        padding-right: 64px;
        padding-left: 64px;
    }

    .container_ssf .ssf_title, .container_ssf .ssf_header{
        text-align: center;
    }

    .container_ssf .ssf_description{
        font-size: 21px;
        line-height: 35px;
    }

    .container_ssf .ssf_group_graphic{
        width: 134px;
        height: auto;
    }

}

@media (min-width: 921px ){
    .container_ssf .ssf_group_graphic{
        width: 114px;
    }

    .ssf_group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .ssf_group_subheader{
        flex-basis: 100%;
        margin-bottom: 0;
    }

    .ssf_group_item{
        flex-basis: 50%;
        height: 50%
    }
}

@media (min-width:1280px){

    .container_ssf{
        padding-left: 80px;
        padding-right: 80px;
        
    }

    .ssf_group_container{
        display: flex;
        
        margin-left: -80px;
    }

    .container_ssf .ssf_title{
        font-size: 72px;
        line-height: 78px;
    }

    .ssf_groups{
        margin-left: -420px;
    }

    .container_ssf .ssf_group_graphic{
        position: relative;
        transform: scale(1);
        width: 50%;
        max-width: 400px;
        
    }

    .ssf_group{
        display: grid;
        grid-template:  "subheader item-1"
                        "subheader item-2"
                        "subheader item-3"
                        "subheader item-4";
        grid-template-columns: repeat(2, 1fr);
        padding-left: 370px;
        column-gap: 32px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        height: auto;
    }

    .ssf_group{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .ssf_group_subheader{
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
        width: 100%;
        grid-area: subheader
    }

    .ssf_group_item{
        width:100%;
        height: auto;
    }

    .ssf_link{
        font-size: 21px;
        line-height: 28px;
        letter-spacing: -.168px;
    }

    .ssf_group_item:nth-of-type(1){
        grid-area: item-1;
        
    }

    .ssf_group_item:nth-of-type(2){
        grid-area: item-2;
    }

    .ssf_group_item:nth-of-type(3){
        grid-area: item-3;
    }

    .ssf_group_item:nth-of-type(4){
        grid-area: item-4;
    }
    
}


@media (min-width:1441px){
    
    .ssf_groups{
        margin-left: -420px;
        margin-right: 80px;
    }
    
    .ssf_group{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "subheader item-1 item-2"
                            "subheader item-3 item-4";
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .ssf_group_graphic{
        bottom: 40px;
    }
    
    .container_ssf .ssf_title{
        font-size:72px;
        line-height: 56px;
        letter-spacing: -2.592px
    }

    .container_ssf .ssf_description{
        line-height: 56px;
        letter-spacing: -2.592px
    }

    .ssf_group_item{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    

    .ssf_group_subheader{
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -1.008px;
    }
}

@media (min-width: 1500px)  {
    .ssf_groups{
        margin-left: -480px;
        margin-right: 0px;
    }
}

@media (min-width: 1600px)  {
    .ssf_groups{
        margin-right: 100px;
    }
}
@media (min-width: 1700px)  {
    .ssf_groups{
        margin-right: 160px;
    }
}

@media (min-width: 1800px)  {
    .ssf_groups{
        margin-right: 200px;
    }
}